<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>cloudVersion</key>
	<string>9B764265-27AF-4EF2-8BD5-A3A9B5163266</string>
	<key>storeUUID</key>
	<string>6CF666F6-D17D-4E84-B6D0-AD9EB123B36F</string>
</dict>
</plist>
