<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<form action="/create" method="post" th:object="${listCreate}">
    <p th:hidden="*{id == null}">
        id: <input th:field="*{id}" th:readonly="*{id != null}" >
    </p>
    name : <input th:field ="*{name}"><br>
    <p style="color: red" th:if="${#fields.hasErrors('name')}" th:errors = "*{name}"></p>
    price: <input th:field = "*{price}">
    <p style="color: red" th:if="${#fields.hasErrors('price')}" th:errors = "*{price}"></p>
    <select th:field = "*{kindPhone}"><br>
        <option th:each="kind : ${listKind}"
                th:value="${kind.id}"
                th:text="${kind.name}">

        </option>
    </select>
    <button type="submit">Save</button>
</form>
</body>
</html>