<!-- Modal -->
<div class="modal fade" id="modelId" tabindex="-1" role="dialog" aria-labelledby="modelTitleId" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Create Facility</h5>
      </div>
      <div class="modal-body">
        <form [formGroup]="facilityFormCreate" (ngSubmit)="createFacility()">
          <div class="form-group">
            <label class="form-label">Tên dịch vụ: </label>
            <input formControlName="name" type="text" class="form-group" required>
            <span style="color: red"
                  *ngIf="facilityFormCreate.controls.name.touched && facilityFormCreate.controls.name.hasError('required')">name is not null</span>
            <span style="color: red"
                  *ngIf="facilityFormCreate.controls.name.touched && facilityFormCreate.controls.name.hasError('pattern')">name is not format</span>
          </div>

          <div class="form-group">
            <label class="form-label">Diện tích: </label>
            <input formControlName="area" type="number" class="form-group" required>
            <span style="color: red"
                  *ngIf="facilityFormCreate.controls.area.touched && facilityFormCreate.controls.area.hasError('required')">area is not null</span>

            <span style="color: red"
                  *ngIf="facilityFormCreate.controls.area.touched && facilityFormCreate.controls.area.hasError('min')">area > 0</span>
          </div>

          <div class="form-group">
            <label class="form-label">Giá: </label>
            <input formControlName="price" type="number" class="form-group" required>
            <span style="color: red"
                  *ngIf="facilityFormCreate.controls.price.touched && facilityFormCreate.controls.price.hasError('required')">price is not null</span>
          </div>

          <div class="form-group">
            <label class="form-label">Số lượng người: </label>
            <input formControlName="maximum" type="number" class="form-group" required>
            <span style="color: red"
                  *ngIf="facilityFormCreate.controls.maximum.touched && facilityFormCreate.controls.maximum.hasError('required')">maximum is not null</span>
            <span style="color: red"
                  *ngIf="facilityFormCreate.controls.maximum.touched && facilityFormCreate.controls.maximum.hasError('min')">maximum > 0</span>
          </div>

          <div class="form-group">
            <label class="form-label">Avatar</label>
            <input formControlName="image" type="file" class="form-group" required>
            <span style="color: red"
                  *ngIf="facilityFormCreate.controls.image.touched && facilityFormCreate.controls.image.hasError('required')">image is not null</span>
          </div>

          <div class="form-group">
            <label class="form-label">Loại: </label>
            <input formControlName="type" type="radio" value="luxury" class="form-group">Luxury
            <input formControlName="type" type="radio" value="min" class="form-group">Min
            <input formControlName="type" type="radio" value="flex" class="form-group">Flex
          </div>

          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            <button type="submit" class="btn bg-primary">Submit</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
