.form-demo{
  border: 1px solid #0000;
  background-color: antiquewhite;
  width: 200px;
  display: flex;
  justify-content: center;
  border: 1px solid brown;
}
.container{
  display: flex;
  justify-content: center;

}

