<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <Style>
        table{
            border: 1px solid #000000;
        }
        table td{
            border: 1px solid #000000;
        }

    </Style>

</head>
<body>
<a href="/create">Add</a>
<span>Search</span>
<table >
    <tr>
        <th>No</th>
        <th>name</th>
        <th>price</th>
        <th>manufacturer</th>
        <th>Delete</th>
        <th>Edit</th>
    </tr>
    <tr th:each="product,loop : ${productPage.content}">
        <td th:text="${loop.count}"></td>
        <td th:text="${product.name}"></td>
        <td th:text="${product.price}"></td>
        <td th:text="${product.manufacturer}"></td>
        <td>
            <a th:href="@{/product/{id}/delete(id = ${product.getId()})}">Delete</a>
        </td>
        <td>
            <a th:href="@{/product/{id}/edit(id = ${product.getId()})}">edit</a>
        </td>
    </tr>
</table>
<span>
    <a th:if="${productPage.hasPrevious()}" th:href="@{/list-page(page=${productPage.number}-1)}">previous</a>
</span>
<span>
    <a th:if="${productPage.hasNext}" th:href="@{/list-page(page=${productPage.number}+1)}">Next</a>
</span>
<p>
    <span th:each="pageNo : ${#numbers.sequence(0,productPage.totalPages-1)}">
                <a th:href="@{/list-page(page = ${pageNo})}" th:text="${pageNo}"></a>
    </span>
</p>
</body>
</html>